/*footer {
  padding: 1em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $darkgrey;
  color: white;
  text-align: left;  
  font-size: 0.7rem;
}

footer .fas {
  color: white;
  margin: 0 1em;
}

.footer-logo {
  margin: 1em;
  display: block;
  filter: invert(1);
}

.footer-logo img {
  width: 6em;
  margin: 0;
}
*/


footer {
  background: darken($grey, 65%);
  padding: 1.5em;
  display: flex;
  /* position: fixed;*/
  bottom: 0;
  width: 100%;
  
  .brand img {
    height: 20px;
    display: block;
    filter: invert(1);
    margin-bottom: 0.8em;
  }
  a {
    color: white;
    display: block;
    padding: 0.3em;
  }
  i {
    color: white;
    padding-right: 0.5em;
  }
}
  
