footer {
  background: darken($grey, 65%);
  padding: 1.5em;
  display: flex;
  /* position: fixed;*/
  bottom: 0;
  width: 100%;
  
  .brand img {
    height: 20px;
    display: block;
    filter: invert(1);
    margin-bottom: 0.8em;
  }

  p, a {
    color: $white;
    display: block;
    font-size: 0.9rem;
    padding: 0.3em 0;
  }

  i {
    color:  $white;
    margin-right: 0.5rem;
    height: 16px;
    width: 20px;
  }
}
  
