header{
  @include flexbox;
  position: relative;
  box-shadow: $shadow;
  padding: 1em;
  z-index: 1;
  i{
      margin-right: 2em;
  }
  .brand img{
      width: 180px;
  }
}



/*
.logo {
  position: fixed;
  left: 0;
  top: 0;
  padding:1em;
  width: 100%;
  background-color: $white;
  margin: auto;
  box-shadow: 0 1px 6px 0 $shadowgrey;
}

.logo img {
  display: block;
  width: 10em;
  margin: auto;
}*/